/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'goodwings';
@reset      : 'goodwings';

/* Elements */
@button     : 'goodwings';
@container  : 'goodwings';
@divider    : 'goodwings';
@flag       : 'goodwings';
@header     : 'goodwings';
@icon       : 'default';
@image      : 'goodwings';
@input      : 'goodwings';
@label      : 'goodwings';
@list       : 'goodwings';
@loader     : 'goodwings';
@rail       : 'goodwings';
@reveal     : 'goodwings';
@segment    : 'goodwings';
@step       : 'goodwings';

/* Collections */
@breadcrumb : 'goodwings';
@form       : 'goodwings';
@grid       : 'goodwings';
@menu       : 'goodwings';
@message    : 'goodwings';
@table      : 'goodwings';

/* Modules */
@accordion  : 'goodwings';
@checkbox   : 'goodwings';
@dimmer     : 'goodwings';
@dropdown   : 'goodwings';
@embed      : 'goodwings';
@modal      : 'goodwings';
@nag        : 'goodwings';
@popup      : 'goodwings';
@progress   : 'goodwings';
@rating     : 'goodwings';
@search     : 'goodwings';
@shape      : 'goodwings';
@sidebar    : 'goodwings';
@sticky     : 'goodwings';
@tab        : 'goodwings';
@transition : 'goodwings';

/* Views */
@ad         : 'goodwings';
@card       : 'goodwings';
@comment    : 'goodwings';
@feed       : 'goodwings';
@item       : 'goodwings';
@statistic  : 'goodwings';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
